{% if user.country == "Japan" %}
  {% if product.price > 10000 %}
    {% if cart.item_count > 5 %}
      <p class="offer">Free express shipping!</p>
    {% else %}
      <p class="offer">Free standard shipping!</p>
    {% endif %}
  {% elsif product.price > 5000 %}
    {% if cart.item_count > 3 %}
      <p class="offer">Discounted shipping</p>
    {% else %}
      <p>Standard shipping rates apply</p>
    {% endif %}
  {% else %}
    <p>Shipping fee: ¥500</p>
  {% endif %}
{% else %}
  {% if product.price > 20000 %}
    {% if user.country == "USA" or user.country == "Canada" %}
      <p class="offer">Free international shipping!</p>
    {% else %}
      <p>Reduced international shipping</p>
    {% endif %}
  {% else %}
    {% if user.country == "USA" %}
      <p>Shipping fee: $15</p>
    {% elsif user.country == "Canada" %}
      <p>Shipping fee: $20</p>
    {% else %}
      <p>Shipping fee: $30</p>
    {% endif %}
  {% endif %}
{% endif %}
