{%- comment -%}
Unit test: extends/block tag (template inheritance)
Support: kalimatas only
Requires: partials/base_layout.liquid
{%- endcomment -%}
{% assign product = products | first %}
{% extends 'base_layout' %}

{% block content %}
<h1>{{ product.title }}</h1>
<p>{{ product.description }}</p>
{% endblock %}
