<div class="footer-section links">
  <h4>Quick Links</h4>
  <ul>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/shipping">Shipping</a></li>
    <li><a href="/returns">Returns</a></li>
  </ul>
</div>
